*{
    /* font-size: 20px !important; */
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* overflow: hidden; */
    
}

:root{
    --bg-url: url(../img/bg-dark.jpg);
    --text-color:white;
    --text-color-hover:black;
    --text-border-menu:  rgba(255, 255, 255, .5);
    --bg-color-menu-hover: rgba(255, 255, 255, 0.9);
    --bg-switch: url("../svg/moon.svg");
    --bg-color-title:rgba(255, 255, 255, 0.1);
    --bg-obj: url("../svg/obj.svg");
}
.light{
    --bg-url: url(../img/bg-light.jpg);
    --text-color:black;
    --text-border-menu:  rgb(0, 0, 0, 0.1);
    --bg-color-menu-hover: rgba(255, 255, 255, 0.9);
    --bg-switch: url("../svg/sun.svg");
    --bg-obj: url("../svg/objWhite.svg");
}
a{
    text-decoration: none;
    color: var(--text-color);
}
body{
    background: var(--bg-url) no-repeat center/cover;
    font-family: 'Inter', sans-serif;
    color: var(--text-color);
    height: 100vh;
    
}

#container{
   
    max-width: 29.5rem;
    height: 100%;
    margin: auto;
    padding: 0 1.5rem;
}

#profile{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1.5rem;
    
  
    
}

#profile  img{
    
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    
    border: 2px solid #ccc;
   
  
   
   
}
#profile div > p{
    font-weight: 500;
    line-height: 1.5rem;
    padding: 0.5rem;
}
ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    list-style: none;
    gap: 0.625rem;
    padding: 0.625rem;
}
#menu ul li a{
    color:var(--text-color);
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(255, 255, 255, .1);
    padding: 1rem 1.5rem;
    text-decoration: none;
    border-radius: 8px;
    border: 1px solid var(--text-border-menu);
    backdrop-filter: blur(18px);
    font-weight:500;
    transition: 0.3s;
    
   
}

#menu ul li a:hover{
    color:black;
    background: var(--bg-color-menu-hover);
    border: 1px solid rgba(255, 255, 255, .1);
    backdrop-filter: blur(50px);
    
}
#social-links{
    font-size: 1.875rem;
    padding: 0.625rem 1.563rem;
}

#social-links ul{
    display: flex;
    flex-direction: row;
    gap:0.625rem;
   
    
    
}

#social-links a{
    text-decoration: none;
    color: inherit;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: .3s;
    padding: 0.625rem;
}

#social-links a:hover{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--bg-color-menu-hover);
    border-radius: 50%;
    
    color:var(--text-color-hover);
}

footer  p{
    text-align: center;
    font-size: 0.625rem;
}

#border-animation{
    
   
   
}
#switch{
    position: relative;

    width: 4rem;
    
    margin: 0.25rem auto;
    
}
#switch button{
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    background: white var(--bg-switch) no-repeat center;
    position: absolute;
    top: 50%;
    left: 0;
    z-index: 1;
    transform: translateY(-50%);
    border:0;
    animation: slide-back 0.5s;

 
}

#switch span{
    display: block;
    background-color:  rgba(255, 255, 255, .1) ;
    border: solid 1px var(--text-border-menu);
    width: 4rem;
    height: 1.5rem;
    border-radius: 9999px;
   
}

.light #switch button{
   animation: slide-in 0.2s forwards;
}

.title{
    font-weight: bold;
    text-align: center;
    font-size: 1.375rem;
}
.sub-title{
    font-size: 1.063rem;
    margin: 1.563rem 0.313rem;
    text-align: justify;
    background-color: var(--bg-color-title);
    padding: 0.938rem 1.563rem;
    border-radius: 5px;
}

.mark{
    margin: 0.313rem 0.313rem;
    padding: 0.938rem 1.563rem;

    
    
}

.content{
    margin: 1.875rem 0px;
    padding: 0.938rem 1.563rem;
    border-radius: 5px;
    background-color: var(--bg-color-title);
    line-height: 1.875rem;
    
    
}

.language-icon{
   
    
    

}
.icon img{
    height: 5rem;
    width: 5rem;
    border-radius: 5px;
}
.content-language{
    display: flex;
    flex-wrap: wrap;
    gap: 1.25rem;
    padding: 1.25rem;
    justify-content: space-between;
  
    
}


.obj{
    
}

.obj2{
    height: 500px;
    
    background-image: var(--bg-obj);
    background-repeat: no-repeat;
    background-position: center;
}

@keyframes slide-in {
    from{
        left: 0;
    }
    to{
        left: 50%;
    }
    
}

@keyframes slide-back {
    from{
        left: 50%;
    }
    to{
        left: 0;
    }
    
}